<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - LetsChat</title>
</head>
<body>
    <a href="/login">Login</a>
    <form action="/signup" method="POST">
        <label>Username:</label>
        <input type="text" name="username">
        <label>Password:</label>
        <input type="password" name="password">
        <button>Sign Up</button>
    </form>
</body>
</html>